
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<button class="btn btn-primary" id="btnGetProducts">GetProducts</button>

<table id="tblProducts" class="table table-bordered">
    <tr>

    </tr>

</table>

<form class="col-md-12" >
    <div class="col-md-2">
        <input type="text" id="txtId" class="form-control" />
    </div>
    <div class="col-md-2">
        <input type="text" id="model" class="form-control"/>
    </div>
    <div class="col-md-2">
        <input type="text" id="desc" class="form-control" />
    </div>
    <div class="col-md-2">
        <input type="text" id="ImageUrl" class="form-control" />
    </div>
    <div class="col-md-2">
        <buttn class="btn btn-primary" id="btnAddProduct">Add Product</buttn>
    </div>
    
</form>

